.modal_container {
  display: flex;
  min-width: 510px;
  flex-direction: column;
  border: 2px solid #d8d9db;
  border-radius: 0.3rem;
  background-color: #fff;

  .modal_title {
    padding: 10px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;

    .inputs_container {
      display: flex;
      justify-content: space-evenly;

      .elements {
        display: flex;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 5px;

        p {
          font-weight: 400;
          font-size: 0.9rem;
          color: rgba(0, 0, 0, 0.576);
        }

        .input {
          outline: none;
          padding: 10px;
          border: 2px solid #d8d9db;
          border-radius: 0.3rem;
          background-color: #fff;
        }

        .range {
          display: flex;
          justify-content: space-evenly;
          gap: 10px;
          align-items: center;

          input[type='range'] {
            accent-color: #6659ef;
          }
        }
      }
    }
  }
}