@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td {
  font-family:
    'Poppins',
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

.UI_wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #f5f7f6;
}